__pycache__/
*.py[cod]
*$py.class
/logs/*
/logs
/commercial/*
/samples*
/samples*/*
/models/*
/models
/*.txt
/*.csv
!requirements*.txt
/src/*
/src
/glide_model_cache/*
/glide_model_cache
/.vscode/*
/.vscode
/regularization_images
*.zip
/._*
*._*
/outputs/*
/outputs
/venv
/latent_diffusion.egg-info/*
/latent_diffusion.egg-info
/latent_diffusion*
/releases/*
/releases
*.DS_Store*
*subject-models*
subjects-private/*
subjects-private
wds-samples/*
wds-samples
/*.png
/ip_adapter/*
/ip_adapter
arc2face/*
arc2face
InstantID/*
InstantID
*.pt
/ID-Animator
AdaFace-Animate/*
AdaFace-Animate
ConsistentID/*
ConsistentID
animatediff/*
animatediff
pulid
lightning_logs/*
lightning_logs
latent_diffusion.egg-info/*
latent_diffusion.egg-info

