__pycache__/
*.py[cod]
*$py.class
/logs/*
/logs
/commercial/*
/data-extra/*
/data-extra
/data-256/*
/data-256
/data_unused/*
/data_unused
/outputs/*
/generations/*
/samples*
/samples*/*
/models/stable-diffusion-v-1-4-original
/models/stable-diffusion-v-1-5
/*.txt
/*.csv
!requirements.txt
/src/taming-transformers
/.vscode/*
/.vscode
scripts/stable_txt2img_db.py
/regularization_images
