setuptools>=68.0.0
torch>=2.4
torchvision>=0.19.0
pytorch-lightning==1.9.5
albumentations>=1.4
opencv-python>=4.10
pudb>=2019.2
omegaconf>=2.1.1
test-tube>=0.7.5
setuptools>=59.5.0
pillow>=9.0.1
einops>=0.4.1
transformers>=4.44.2
kornia>=0.6
exrex
tensorflow>=2.17.0
nvidia-pyindex
nvidia-tensorrt
safetensors
wandb
gradio
diffusers==0.29.2
webdataset
bitsandbytes
prodigyopt
numpy>=1.24.0
onnxruntime-gpu
insightface
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip
-e git+https://github.com/adaface-neurips/retinaface@master#egg=retinaface_pytorch
-e .
